* {
  margin: 0;
  padding: 0;
}

.arrow {
  margin-top: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  height: 735px;
  background-image: url(img/topbackg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__catalog {
  height: 400px;
  background-image: url(img/topback-catalog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block-header {
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-input {
  width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header-input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.header-input:-ms-input-placeholder {
  color: #FFFFFF;
}

.header-input::-ms-input-placeholder {
  color: #FFFFFF;
}

.header-input::placeholder {
  color: #FFFFFF;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}

.menu-mobile {
  display: none;
}

.menu__link__catalog {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.nav-box {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select {
  width: 288px;
  height: 41px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 14px;
  color: #000000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

.menu__link:hover {
  color: black;
}

.block-header {
  height: 76px;
}

.header {
  max-width: 750px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  margin-top: 64px;
  margin-bottom: 16px;
}

.header-catalog {
  margin-top: 127px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}

.tagline {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.catalog {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.arrow__png {
  margin-top: 268px;
  margin-left: 1200px;
}

.block {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.for-box {
  padding-top: 64px;
}

.for {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.for__item:nth-of-type(1){
  background-image: url(img/for1.jpg);
}

.for__item:nth-of-type(2){
  background-image: url(img/for2.jpg);
}

.for__item:nth-of-type(3){
  background-image: url(img/for3.jpg);
}

.for__item:nth-of-type(4){
  background-image: url(img/for4.jpg);
}

.for__item:nth-of-type(5){
  background-image: url(img/for5.jpg);
}

.for__item__big {
  grid-column: span 6;
}

.product-box {
  padding-top: 64px;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 56px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
}

.product {
  width: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 2px 2px 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 20px #b2afaf;
          box-shadow: 0px 0px 20px #b2afaf;
}

.product__name {
  width: 219px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 9px;
}

.product__img {
  width: 100%;

}

.product__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.product__box-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.product__price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product__price_sale {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

.link-box {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  margin-top: 34px;
  margin-bottom: 64px;
}

.footer {
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content {
  width: 792px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 125px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__icons_social-network:hover path {
  fill: #000000;
}

.footer__icons_social-network path {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.footer__form {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  width: 198px;
  height: 44px;
  margin-top: 24px;
}

.footer__menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.offer {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.email {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  width: 275px;
  height: 46px;
  padding-left: 25px;
  padding-bottom: 5px;
}

.email::-webkit-input-placeholder {
  color: #C4C4C4;
}

.email:-ms-input-placeholder {
  color: #C4C4C4;
}

.email::-ms-input-placeholder {
  color: #C4C4C4;
}

.email::placeholder {
  color: #C4C4C4;
}

.click {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  color: #C4C4C4;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.click:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.top-cart {
  height: 400px;
  background-image: url(img/topcart.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-cart {
  margin-top: 127px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}

.cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}

.cart__name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 14px;
}

.cart__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.cart__info {
  width: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.cart__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.cart__form {
  background: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  width: 379px;
  grid-column: span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__content {
  grid-column: span 8;
}

.product-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.product-about {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050505;
}

.header-form {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 50px;
}

.input-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-product {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 18px;
  height: 51px;
  width: 68px;
  background: #F7F6F6;
  border-radius: 6px;
  outline: none;
  border: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-arrow {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.arrow-up,
.arrow-down {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.arrow-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10px;
  padding-left: 45px;
}

.arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10px;
  padding-left: 45px;
  margin-top: 24px;
}

.input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 288px;
  height: 51px;
  background: #F7F6F6;
  border: 6px;
  outline: none;
  border-bottom: 1px solid #CACDD8;
}

.text {
  padding-top: 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.cart-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 28px;
  color: #000000;
  background: #F7F6F6;
  border-radius: 20px;
  width: 288px;
  height: 40px;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.button-cart {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.button-cart:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.next-step {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.shop-icons {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shop,
.coolling {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shop {
  left: 303px;
  top: 11px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.shop:hover path {
  fill: #387bd8;
}

.coolling {
  left: 345px;
  top: 13px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.coolling:hover path {
  fill: #9d38d8;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    -webkit-column-gap: 29px;
            column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .product__img {
    width: 378px;
    height: 244px;
  }
  .cart {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .cart__item {
    width: 768px;
  }
}

@media (min-width: 734px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product__img {
    width: 345px;
  }
  .product {
    width: 345px;
  }
  .cart__content {
    width: 786px;
  }
  .shop-icons {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .shop,
  .coolling {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .shop {
    left: 270px;
    top: 11px;
  }
  .coolling {
    left: 315px;
    top: 13px;
  }
  .cart {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .cart__item {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .block-header {
    padding-top: 32px;
  }
  .header-input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
  .menu-mobile_search:hover path {
    fill: rgb(80, 141, 255);
  }
  .logo__img {
    width: 99px;
  }
  .header {
    width: 343px;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .header-catalog,
  .header-cart {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .nav-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
  .tagline {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .catalog {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block {
    font-size: 24px;
    line-height: 29px;
  }
  .product-box {
    padding-top: 32px;
  }
  .product__name {
    font-size: 18px;
    line-height: 22px;
  }
  .product__text {
    width: 343px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
  .product__price_sale {
    font-size: 18px;
    line-height: 22px;
  }
  .for {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    font-size: 28px;
    line-height: 34px;
    gap: 16px;
  }
  .for__item {
    height: 375px;
    width: 343px;
  }
  .for__item__big {
    height: 244px;
    width: 343px;
  }
  .product__img {
    width: 342.7px;
    height: 226.71px;
  }
  .button-cart {
    width: 163px;
    height: 37px;
  }
  .cart__name-box {
    display: none;
  }
  .cart__form {
    height: 556px;
    width: 343px;
  }
  .header-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .next-step {
    width: 343px;
    margin-top: 33px;
    margin-bottom: 42px;
  }
  .footer {
    padding-bottom: 32px;
  }
  .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 34px;
  }
  .footer__info {
    gap: 100px;
  }
  .footer__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .cart__item {
    width: 343px;
  }
  .cart__left {
    width: 343px;
  }
  .cart__product-img {
    display: none;
  }
  .cart__content {
    -ms-grid-columns: 4 span;
        grid-template-columns: 4 span;
  }
  .shop-icons {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .shop,
  .coolling {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .shop {
    left: 273px;
    top: 11px;
  }
  .coolling {
    left: 315px;
    top: 13px;
  }
}
/*# sourceMappingURL=style.css.map */